[submodule "stress-ng"]
	path = stress-ng
	url = https://github.com/ColinIanKing/stress-ng
[submodule "gpu-burn"]
	path = gpu-burn
	url = https://github.com/wilicc/gpu-burn
[submodule "tricorder"]
	path = tricorder
	url = https://git.karner.dev/jdkarner/tricorder
